body{
    background-color: #FF99CC;
    color: aliceblue;
    text-align: center;    
}
table{ 
    
    border-color: black; 
    width: 1000px; 
    height: 800px; 
    margin: 25px auto;
    
    }
td{
    width: 250px;
    height: 200px;
}
img{ 
    width: 250px;
    height: 200px;
}
header, footer{
    width: 1500px; 
    min-height: 100px; 
    margin: 25px auto;
    padding: 25px;
    background-color: rgb(241, 9, 168);
}
#celA1{
    background-color: rgb(255, 255, 0);
    color: red
}
#celA2{
    background-color: rgb(255, 255, 150);
    color: green
}
#celA3{
    background-color: rgb(255, 255, 200);
    color: blue
}
#celA4{
    background-color:rgb(255, 255, 225);
    color: orange
}
#celB1{
    background-color: rgb(255, 0, 255);    
}
#celB2{
    background-color: rgb(255, 150, 255);    
}
#celB3{
    background-color: rgb(255, 200, 255);    
}
#celB4{
    background-color:rgb(255, 225, 255);   
}
#celC1{
    background-color: rgb(0, 255, 255);
    color: white
}
#celC2{
    background-color: rgb(150, 255, 255);
    color: rgb(248, 110, 133)
}
#celC3{
    background-color: rgb(200, 255, 255);
    color:purple
}
#celC4{
    background-color:rgb(225, 255, 255);
     color: grey
}
#celD1{
    background-color: rgb(0, 100, 0);
}
#celD2{
    background-color: rgb(50, 150, 50);
}
#celD3{
    background-color: rgb(50, 200, 50);
}
#celD4{
    background-color:rgb(50, 255, 50);
}